*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
body{
    display: flex;
  
}
header{
   border: 1px solid #ccc;
   height: 100vh;
   position: sticky;
   top: 0;
}
nav h1{
    font-size: 20px;
    border-bottom:  1px solid #ccc;
    padding: 10px;
    font-weight: 600;
}
nav ul  a{
   color: black;
   text-decoration: none;
}
nav ul a li{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
nav ul a li:hover{
    background-color: rgb(224, 224, 224);
    transition: 0.3s ease-in-out;
}
article {
  margin-left: 20px;
  font-size: 15px;
    display: flex;
    flex-direction: column;
gap: 30px;
}
section h1{
    font-size: 20px;
    padding: 20px;
}
section article ul {
    margin-left: 20px;
  }
  section article ul li {
    margin-bottom: 10px;
  }
  /* code is used to write the code */
  code{
    display: block;
    background-color: gray;
 padding: 10px;
 margin: 10px;
 /* you can effectively control the layout and formatting of text within your HTML elements. */
 white-space: pre-line; 
  }
  @media (max-width:400px){
    body{
        flex-direction: column;
        height: 0;
    }
  
  }
